.headerOptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  color: grey;
  cursor: pointer;
}

.headerOptions:hover {
  color: black;
}

.headerOption_title {
  font-size: 12px;
  font-weight: 400;
}

.headerOption_icon {
  object-fit: contain;
  height: 25px !important;
  width: 25px !important;
}
